@page "/"
@layout EmptyRazor

<h1 style="text-align : center;">Services :</h1>

<br />
<br />

<div class="AlignLinks">
    <div class="redirectStyle">
        <br />
        <h4><a href="/insight">Mars Weather</a></h4>
        <br />
        <h4><a href="/">Image of the day</a></h4>
        <br />
    </div>


</div>

